<div class="panel-header panel-header-sm">
</div>
<div class="panel main-content">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6  col-xl-4">
            <div class="card card-user">
                <div class="image">
                        <div class="text-center" >
                                <a href="#">
                                    <img  src="./assets/img/logo.jpg" alt="...">
                                </a>
                            </div>
                </div>
                <div class="card-body">
                    <div class="button-container">
                            <mat-form-field class="col-xs-8 col-sm-7 col-md-6 col-lg-5">
                                    <input matInput type="text" required [(ngModel)]="hajjNumber" placeholder="Hajj Number">
                                </mat-form-field>
                            <button (click)="scanQRCode()" class="btn btn-primary">
                                    <i class="fas fa-camera"> </i>  Bar Code  
                            </button>
                        </div>

                </div>
                <hr>
                <div class="button-container">
                    <button (click)="gotoHajjEntry()" class="btn btn-primary">
                         start entry
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>